html, body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
        
}
body {
    /*background: #eee;*/
    font-family: "微软雅黑", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    /*background: url(../img/bg-process-24bf61dd.svg);*/
    /*background-size: 100%;*/
    background: url(../img/page1-retinabg.png);
    /*background-size: 1500px;*/
    pointer-events:auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
    pointer-events:auto;
}

.page .swiper-slide{
    width: 1000px;
}

.page .swiper-slide table{ 
    position: static;
    margin-top: 0;
}

.page .swiper-slide .table{
    
    float: left;
}


.swiper-slide .swiper-slide{
    background:none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: url(../img/page1-retinabg.png);

    /*background: #fff;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    pointer-events:auto;
}

.page1{
    background:url(../img/page1-retina.png);
    background-position: center;
    background-size: auto 100%;
    pointer-events:auto;
}

.page{
    width:1000px;
    height:100%;
    margin: 0 auto;
    position:relative;
    pointer-events:auto;

}

.page1 .page{
    /*background:url(../img/logo-big.png) no-repeat;*/
    background-position:  center -35px;
}

.page1 .page h1{
    margin: 40px 0 0;
    font-size: 90px;
    font-weight: 100;
    color:#fff;
    letter-spacing: 10px;
}
.page1 .page h3{
    margin:40px 0 20px;
    font-size:30px;
    color:#fff;
}

.page1 .page h4{

    color:#fff;
    font-size:18px;
    font-weight:normal;
    margin: 0 ;
}

.page1 .page a{
   /* color: #fff;
    width: 140px;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    border-radius: 4px;
    line-height: 40px;
    text-decoration: none;
    /*margin: 30px auto;*/
    /*font-size:16px;*/
}

.arrow{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    left: 50%;
    z-index: 999;
    margin-left: -30px;
    cursor: pointer;
    text-indent: -9999px;
}

.apply{
    position: absolute;
    bottom: 260px;
    width: 190px;
    height: 60px;
    line-height: 60px;
    left: 50%;
    z-index: 9999;
    margin-left: -95px;
    color: #fff;
    border-radius: 30px;
    border:1px solid #fff;
    cursor: pointer;
    font-size: 24px;
    pointer-events:auto;
}

.page2{
    background:url(../img/page2.png);
    background-size: auto 100%;
    background-position: center;
}

.page3{
    background:url(../img/page3.png);
    background-size: auto 100%;
    background-position: center;
}
.page4{
    background:url(../img/page4.jpg);
    background-size: auto 100%;
    background-position: center;
}
.page5{
    background:url(../img/page5.jpg);
    background-size: auto 100%;
    background-position: center;
}
.page6{
    /*background:url(../img/page6.png);*/
    background: #f8f8f8;
    background-size: auto 100%;
    background-position: center;
}

.page7{
    background:url(../img/page7.png);
    background-size: auto 100%;
    background-position: center;
}
.index .logo2{
    position: absolute;
    left: 0;
    top: 0;
}


.index{
    position: fixed;
    width: 100%;
    top: -1px;
    height: 50px;
    left: 0;
    z-index: 999;
    display: none;
    background: url(../img/nav.png) no-repeat;
    background-position: center;
    width: 100%;
}

.index .wrapper{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.index .nav {
    position: absolute;
    right: 0;
}

.index .nav a{
    display: inline-block;
    padding: 15px 10px;
    color: #fff;
    text-decoration:none;
    font-size: 16px;
    line-height: 18px;
    position: relative;
}
.index .nav a:last-child{
    padding-right: 0;
}


.index .nav.aki a{
    color: #fff;
}

.index .nav.aki a.selected{
	color: #fff;
}


.index .nav.aki a.selected:before{
    /*background:#fff;*/
}

.index .nav a.selected:before{
    content: "a";
    display: block;
    text-indent: -99999px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #fff;;
    position: absolute;
    left: -3px;
    top: 50%;
    margin-top: -4px;
}

.page2 .page{
    /*background: url(../img/cocos.png) no-repeat;*/
    /*background-position: center;*/
    width: 1000px;
    height: 660px;
    text-align: left;
}

.page2 .page .wrapper{
    position: relative;
}

.page2 .page .news{
    position: absolute;
    top: 340px;
    right: 0;
    width: 372px;
    
}
.page2 .page .news a{
    color: rgb(102,102,102);
    display: block;
    font-size: 14px;
    line-height: 32px;
    position: relative;
    text-align: left;
}

.page2 .page .news a:before{
    content: "a";
    display: block;
    text-indent: -99999px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: rgb(43,124,199);
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -2px;
}


.page2 .page h2{
    text-align: left;
    color: rgb(43,124,199);
    font-size: 38px;
    font-weight: normal;
}


.page2 .page p{
    text-align: left;
    text-indent: 2em;
    color: rgb(153,153,153);
    font-size: 14px;
    line-height: 26px;
}

.page2 .content{
    margin-bottom: 46px;
}

.page .select a{
    cursor: pointer;
    pointer-events: auto;
}

.page .select{
    pointer-events: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 460px;
    margin-left: -230px;
    height: 40px;
    line-height: 40px;
    z-index: 999;
    /*border-radius: 5px;*/
}

a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}


/*
.page4 .page a{
    color: rgb(29,176,227);
    border-right:1px solid rgb(29,176,227);
}
*/

/*.page4 .page .select a:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left:1px solid rgb(29,176,227);
    border-right: 0;
}

.page4 .page .select a:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right:1px solid rgb(29,176,227);
}
*/
/*.page4 .page .select a.current{
    background: rgb(29,176,227);
    color:#fff;
}
.page4 .page .select a{
    padding: 0 20px;
    position: relative;
    display: inline-block;
    border-top:1px solid rgb(29,176,227);
    border-bottom:1px solid rgb(29,176,227);
    float: left;
}
*/

.page .select a{
    margin: 0 20px;
    position: relative;
    display: inline-block;
    float: left;
    color: rgb(43,124,199);
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
}

.page .select a.current{
    border-bottom: 1px solid rgb(43,124,199);
}
/*.page .select a:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left:1px solid #fff;
}

.page .select a:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right:1px solid #fff;
}

.page .select a.current{
    background: #fff;
    color:#333;
}

.page .select a.x:after{
    height: 40px;
    width: 0;
    border-left: 1px solid #fff;
    content: " ";
    position: absolute;
    right: 0;
}
*/
.dot{
    position: relative;
}

.dot:before{
    content: "a";
    display: block;
    text-indent: -99999px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: rgb(43,124,199);
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -2px;
}


.page4 table{
    font-size: 14px;
    line-height: 18px;
    width: 1000px;
    height: 560px;
    position: absolute;
    top: 50%;
    margin-top: -280px;
    border-collapse: collapse;
    color: #666;
}

.page4 table td.time{
    font-size: 12px;
    padding-left: 0;
}

.page4 table thead td{
    font-weight: bold;
    border-bottom:  1px solid #ccc;
    padding-bottom: 15px;
    line-height: 40px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.page4 table td{
    text-align: left;
    padding-left: 30px;

}


.page5 .img{
    position: absolute;
    height: 537px;
    width: 954px;
    top: 50%;
    margin-top: -270px; 
    left: 50%;
    margin-left: -480px;
}


.page7 table{

    width: 100%;
    margin-top: 100px;
    height: 80%;
}



.page7 table td a{
    display: block;
    width: 225px;
    height: 150px;
    margin:  0 auto;
}
.page7 table td .a11{
    background:url(../img/1.jpg) ;
    background-size: 100%;
}

.page7 table td .a12{
    background:url(../img/2.jpg) ;
    background-size: 100%;
}

.page7 table td .a13{
    background:url(../img/3.jpg) ;
    background-size: 100%;
}

.page7 table td .a21{
    background:url(../img/4.jpg) ;
    background-size: 100%;
}

.page7 table td .a22{
    background:url(../img/5.jpg) ;
    background-size: 100%;
}

.page7 table td .a23{
    background:url(../img/6.jpg) ;
    background-size: 100%;
}


.page7 table td .a31{
    background:url(../img/7.jpg) ;
    background-size: 100%;
}

.page7 table td .a32{
    background:url(../img/8.jpg) ;
    background-size: 100%;
}

.page7 table td .a33{
    background:url(../img/9.jpg) ;
    background-size: 100%;
}


.page6 .page .bg{
    height: 574px;
    width: 1200px;
    position: absolute;
    top: 50%;
    margin-top: -287px;
    left: 50%;
    margin-left: -600px;
    background: url(../img/ticket.png) no-repeat;
    background-position: center;
}

.page6 .page .bg .wrapper{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 534px;
}

.page6 .page .check img{
    position: absolute;
    z-index: 88;
}

.page6 .page .free img{
    left: 222px;
} 

.page6 .page .person img{
    left: 429px;
} 

.page6 .page .team img{
    left: 632px;
} 

.page6 .page .all img{
    left: 840px;
} 

.top1{
    top: 153px;
}

.top2{
    top: 205px;
}
.top3{
    top: 257px;
}
.top4{
    top: 309px;
}
.top5{
    top: 358px;
}
.top6{
    top: 408px;
}



.btn{
    display: block;
    width: 142px;
    height: 46px;
    background: url(../img/button-bg.png) no-repeat;
    background-size: 100%;
    z-index: 100;
    position: absolute;
    line-height: 46px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    bottom: 0;
}


.btn.applyfree{
    left: 220px;
}
.btn.personbuy{
    left: 394px;
}
.btn.teambuy{
    left: 570px;
}
.btn.all{
    left: 746px;
}

.page3 .headers{
    position: absolute;
    width: 1000px;
    height: 564px;
    top: 50%;
    margin-top: -282px;
}



.page .header{
    width: 178px;
    height: 260px;
    float: left;
}

.page .header .circle{
    width: 175px;
    height: 175px;
    border-radius: 88px;
    border:1px solid #ddd;
}

.page .header .circle .image{
    background: url(../img/banner.png);
    width: 162px;
    height: 162px;
    margin-top: 7px;
    border-radius: 81px;
    margin-left: 7px;
}

.page .header   h3{
    font-weight: normal;;
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
    color: #333;
}
.page .header h4{
    font-size: 12px;
    margin: 0;
    font-weight: normal;
    color: #777;
    line-height: 24px;
}


.page .header.first{
    margin-left: 0;
}
.page .header{
    margin-left: 90px;
}

.page .header.next{
    margin-top: 60px;
}

.footer,.footer a{
    line-height: 18px;
    font-size: 12px;
    color: #aaa;
}




/***2015年3月1日20:40:10 国良添加**/
.inline-content{
	width:460px;
	border:none;
}

.apply-title{
background:url(../img/title.png);
width:460px;
height:43px;
display:block;
margin:0;
padding:0;
}

.apply-title img{
	margin:15px 0 0 12px;
	float:left;
}
.apply-title span{
	margin:12px 0 0 12px;
	float:left;
	color:#FFF;
}
.apply-title label{
	background:url(../img/xxx1.png);
	height:16px;
	width:16px;
	display:block;
	margin:15px 14px 0 0;
	float:right;
	cursor:pointer;
}

.apply-content{
width:460px;
display:block;
background:#FFF;
float:left;
}


.apply-content form{
margin:53px 0 0 60px;
}


.apply-content ul li{
	float:left;
	width:300px;
	list-style:none;
	height:45px;
}


.apply-content ul li input{
	border:1px solid #b6b6b6;
	margin-left:14px;
	width:183px;
}
.apply-content .error{
	color:#e04e4b;
	margin:50px 0 0 30px;
	display:block;
	height:20px;
	width:140px;
	overflow:hidden;
	float:left;
}
.apply-content .applyfree{
float:left;
margin:0 0 0 -75px;
	position:relative !important;
}

.inline-content-team{
	width:828px;
	color:#666666
}

.inline-content-team .apply-title{
	background:url(../img/team.png);
	width:828px;
}

.inline-content-team .apply-content{
	width:828px;
	height:100%;
}

.inline-content-team .apply-content ul li{
	width:670px;
	height:138px;
	border-bottom:1px solid #b6b6b6;
}
.inline-content-team .apply-content ul li div{
	height:22px;
	margin:10px 0  0 0;
}
.inline-content-team .apply-content ul li input{
	width:160px;
	margin: 0 14px 0 7px;
}

.inline-content-team .apply-content span.list{
	color:#000000;
	font-weight:bold;
	height:30px;
	margin:10px 0 15px 0;
	width:100px;
	display:block;
	
}
.inline-content-team .apply-content span.delete{
float:right; display:block;color:#2b7cc7; height:30px; width:630px; 
}
.inline-content-team .apply-content span.delete a{
color:#2b7cc7;
}
.inline-content-team .apply-content .add_more{
	height:100px;
	display:block;
	float:right;
	width:100px;
	clear:both;
	color:#2b7cc7;
	margin:10px 40px 0 10px;
}

.inline-content-team .apply-content .applyfree {
	margin:30px 0 0 100px
}

.inline-content-team  .apply-content .error{
	margin:80px 0 0 30px;
}

.inline-content-team .apply-content .add_more a{
	color:#2b7cc7;
}

.inline-content-success{
  width:463px;
  background:#FFF;
  height:293px;
}

.inline-content-success .share{
	
	float:left;
	margin:25px 20px 0 280px;
}
.bdsharebuttonbox{
	float:right;
	margin:20px 20px 0 0;
}

.inline-content-success .btn{
 top:190px;
}

.inline-content-success .content{
	float:left;
	margin: 20px 0 0 40px;
}
.inline-content-success .content img{
	float:left;
	margin: 5px 5px 30px 0;
}
.inline-content-success .content span {
	font-size:18px;
	line-height:50px;
	font-weight:bold;
}

.inline-content-success .content b {
 color:#2b7cc7;
}

.cncc,.address{
    position: absolute;
    right: 60px;
    top: 109px;
    width: 100px;
    height: 30px;
}

.address{
    top: 167px;
}




