@media screen and (max-height: 870px) {

    .page2 .page .wrapper p{
        line-height: 16px;
    }

    .page2 .wrapper h2{
        margin: 10px 0;
    }
}




@media screen and (max-height: 870px) {

    .apply{
    	bottom: 80px;
    }

    .page5 .page .img{
    	height: 537px;
        width: 954px;
        top: 50%;
        margin-top: -270px; 
        left: 50%;
        margin-left: -480px;
    }

   

    .page4 table{
    	width: 1000px;
    	height: 460px;
    	margin-top: -230px;
    }

    .page2 .page{
    	height: 500px;
    }

    .page2 .page img{
    	width: 584px;
    }
    .page2 .page .news{
    	top: 229px;
    }

    .page2 .content{
    	margin-bottom: 30px;
    }


	.page .header.next{
		margin-top: 10px;
	}

	.page3 .headers{
	    
	    margin-top: -242px;
	}

    .page7 .page{
        margin-top: -29px;
    }
}

.clickable{
	pointer-events: auto;
}